.timeline {
    height: auto;
    display: flex;
    flex-direction: column;
    background: #000000;
}

.timeline .soundline {
    width: 100%;
    height: 3px;
    background-color: #EC00E4;
    position: relative;
    border-radius: 2px;
    /*overflow: hidden;*/
}

.timepoint {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    /*margin-top: 0;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*margin: auto;*/
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #70FF00;
}

/*.timeline .soundline:after {*/
/*    display: block;*/
/*    position: absolute;*/
/*    content: '';*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 0;*/
/*    height: 100%;*/
/*    background: #6CE59C;*/
/*    box-shadow: 0px 0px 9px #94FFBF;*/
/*    !*transition: all 0.4s cubic-bezier(0.07, 0.82, 0.11, 1.02);*!*/
/*    !*animation: 20s soundline infinite both linear;*!*/
/*}*/

.controllers, .controllers .play-icon, .controllers .pause-icon, .controllers .back-icon, .controllers .forward-icon, .controllers .time,
.volume-controllers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controllers .play-icon, .controllers .pause-icon, .controllers .back-icon, .controllers .forward-icon, .controllers .time {
    /*font-size: 16px;*/
    margin: 10px;
    color: #6F716D;
    width: 40px;
    height: 40px;
}

.controllers .play-icon, .controllers .pause-icon, .controllers .back-icon, .controllers .forward-icon, .volume-controllers, .soundline, .soundline .timepoint {
    cursor: pointer;
}

.timeline .controllers .back-icon:after {
    content: '\f04a';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 600;
    /*margin-right: 5px;*/
}

.timeline .controllers .play-icon:after {
    content: '\f144';
    font-family: 'Font Awesome\ 5 Free';
    font-size: 35px;
    color: #70FF00;
    font-weight: 600;
    /*margin-left: 5px;*/
}

.timeline .controllers .pause-icon:after {
    content: '\f28b';
    font-family: 'Font Awesome\ 5 Free';
    font-size: 35px;
    color: #70FF00;
    font-weight: 600;
}

.timeline .controllers .forward-icon:after {
    content: '\f04e';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 600;
    /*margin-left: 5px;*/
}

.volume-down-icon, .volume-up-icon {
    margin: 10px;
    color: #6F716D;
}

.volume-down-icon:after {
    content: '\f027';
    font-family: "Font Awesome\ 5 Free";
    font-weight: 600;
    /*height: 40px;*/
    /*width: 40px;*/
    /*color: #6F716D;*/
    /*margin: 10px;*/
}

.volume-up-icon:after {
    content: '\f028';
    font-family: "Font Awesome\ 5 Free";
    font-weight: 600;
    height: 40px;
    width: 40px;
    /*color: #6F716D;*/
}

.volume-line {
    width: 70px;
    height: 3px;
    background-color: #6F716D;
}

.timeline .title {
    color: #ffffff;
    font-size: 20px;
}

.timeline .artist {
    color: #6F716D;
    font-size: 13px;
}